/* module id [20,29] */
.m-id-20{width:100%;background:url(http://www.hijufou.com/res/mobile/pic/login.png) center center;background-size:cover;}
.m-id-20 .lox{position:absolute;top:28px;right:50px;}
.m-id-20 .g-body{margin-top:68px;}
.m-id-20 .lnk{margin:0 45px 25px;text-align:left;}
.m-id-20 .w-fom .blk input{width:75%;margin-left:20px;text-align:right;padding-right:25px;}
.m-id-20 .wrg{text-align:left;margin:-12px 30px;}
