/* module id [10,19] */
.m-id-10{width:100%;background:url(../../../../res/mobile/pic/login.png) center center;background-size:cover;}
.m-id-10 .lox{position:absolute;top:28px;right:50px;}
.m-id-10 .ress{position:absolute;top:159px;width:100%;z-index:1;}
.m-id-10 .msg{margin:40px 0 22px;line-height:42px;}
.m-id-10 .xmsg{margin:84px 0 22px;}
.m-id-10 .w-fom .blk input{width:75%;margin-left:20px;text-align:right;padding-right:25px;}
.m-id-10 .w-fom .blk .itm-s{width:100px;}
.m-id-10 .w-fom .blk .itm-4{width:128px;}
.m-id-10 .w-fom .blk .sex{width:50px;padding:0;margin-left:0;}
.m-id-10 .wrg{text-align:left;margin:22px 40px -20px;}
.m-id-10 .xwrg{text-align:left;margin:99px 40px -20px;}
.m-id-10 .lnk{margin:0 45px 25px;text-align:left;}
.m-id-10 .suc .ln0{margin:320px 0 90px;}
.m-id-10 .btnenr{margin-top:140px;}




