.g-help .t-mdl-h1{padding-bottom:50px;}
.g-help .qst{font-weight:bold;font-size:18px;}
.g-help .aer{padding-left:55px;position:relative;font-size:13px;}
.g-help .aer span{position:absolute;top:0;left:26px;}
