/* v0-v9 */
.m-id-v0 .blk{border-style:solid;border-width:0 0 1px 0;text-align:left;}
.m-id-v0 .blks{height:127px;}
.m-id-v0 .blkx{padding:30px 25px;border:0;}
.m-id-v0 .blk .txt{width:100%;padding:20px 25px;line-height:48px;}
.m-id-v0 .blk .itm{float:left;width:42%;padding:20px 25px;line-height:48px;}
.m-id-v0 .blk .tip{width:160px;height:160px;background-position:0 -17386px;}
.m-id-v0 .blk .xtip{margin:5px 10px;}
