/* n0-n9 */
.m-id-n0 .gallery{margin:25px;}
.m-id-n0 .gallery .img{width:32.5%;height:194px;float:left;margin:2px;}
.m-id-n0 .fix{position:fixed;width:100%;bottom:0;height:90px;background:url(../../../../res/mobile/pic/photo.png);display:none;}
.m-id-n0 .fix .itm{width:50%;line-height:90px;}
.m-id-n0 .fil{position:absolute;top:0;left:0;height:90px;width:50%;opacity:0;}
.m-id-n0 .fail{background-position:0 -14093px;height:150px;width:150px;margin:180px auto 40px;}
.m-id-n0 .g-body{padding-bottom:80px;}
.m-id-n0 .g-body .photoload{height:auto;}
.m-id-n0 .back_link{text-align:left;margin-left:230px;}

/* 照片滑动效果 */
*{margin:0px;padding:0px;}
.main {
	position: absolute;
	top: 92px;
	width: 100%;
}
.pro-switch {
	position: relative;
	width:100%;
}
.flexslider {
	margin: 0;
	padding: 0;
}
.flexslider .slides > li {
	display: none;
	-webkit-backface-visibility: hidden;
}
.slides:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
html[xmlns] .slides {
	display: block;
}
* html .slides {
	height: 450px;
}
.no-js .slides > li:first-child {
	display: block;
}
.flexslider {
	position: relative;
	width:640px;
	zoom: 1;
}
.flex-viewport {
	max-height: 2000px;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	transition: all 1s ease;
}
.flexslider .slides {
	zoom: 1;
}
.flex-direction-nav {
*height: 0;
}
.flex-direction-nav a {
	width: 60px;
	height: 90px;
	margin: -60px 0 0;
	display: block;
	background: url(../../../../res/mobile/pic/ad_ctr.png) no-repeat 0 0;
	position: absolute;
	top: 50%;
	z-index: 10;
	cursor: pointer;
	text-indent: -9999px;
	opacity: 0.8;
	filter:alpha(opacity=0);
-webkit-transition: all .3s ease;
}
.flex-direction-nav .flex-next {
	background-position: 0 -90px;
	right: 0;
}
.flex-direction-nav .flex-prev {
	left: 0;
}
.flexslider:hover .flex-next {
	opacity: 0.8;
	filter:alpha(opacity=25);
}
.flexslider:hover .flex-prev {
	opacity: 0.8;
	filter:alpha(opacity=25);
}
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {
	opacity: 1;
	filter:alpha(opacity=50);
}
.flex-control-nav {
	width: 100%;
	position: absolute;
	text-align: center;
	left:0;
	top: 85%;
}
.flex-control-nav li {
	margin: 0 5px;
	display: inline-block;
	zoom: 1;
	*display: inline;
}
.flex-control-paging li a {
	background: url(../../../../res/mobile/pic/dot.png) no-repeat 0 -16px;
	display:block;
	height: 16px;
	overflow: hidden;
	text-indent:-99em;
	width: 16px;
	cursor: pointer;
}
.flex-control-paging li a.flex-active {
	background-position: 0 0;
}
.flexslider .i-photo{
	display: block;
	position: absolute;
	top: 50%;
	width: 100%;
	-webkit-transform: translateY(-50%);
}
.flexslider .img{
	position: relative;
	height: 100%;
}