/* j0-j9 */
/* m-id-j0 */
.m-id-j0 .g-body{padding-bottom:30px;}
.m-id-j0 .blk{border-style:solid;border-width:0 0 1px 0;}
.m-id-j0 .dtl{margin:25px 0 30px 0;}
.m-id-j0 .blk .cover{margin:0 25px 33px;}
.m-id-j0 .blk .cover img{width:100%;height:320px;}
.m-id-j0 .ln0{text-align:left;margin:0 25px;}
.m-id-j0 .ln0-x{margin-top:11px;margin-bottom:13px;}
.m-id-j0 .ln1{line-height:40px;font-size:28px;margin:25px;text-align:left;}
.m-id-j0 .ln2{line-height:46px;font-size:28px;margin:25px 30px;text-align:left;}
.m-id-j0 .ln2 img{width:100%;}
.m-id-j0 .link{margin:25px 25px 20px;position:relative;height:187px;}
.m-id-j0 .ln4{position:absolute;bottom:0;left:0;width:46%;}
.m-id-j0 .ln4 span,
.m-id-j0 .ln5 span{height:50px;width:50px;position:absolute;top:-12px;right:-12px;line-height:50px;}
.m-id-j0 .ln5{position:absolute;bottom:0;right:0;width:49%;}
.m-id-j0 .des{margin:0 25px;}
.m-id-j0 .des img{width:100%;height:360px;padding-bottom:30px;border-style:solid;border-width:0 0 1px 0;}
.m-id-j0 .pon{padding:0;}
.m-id-j0 .per{margin-right:60px;}
.m-id-j0 .jusp{margin:30px;}
.m-id-j0 .jusp .tol{float:left;margin-top:-22px;}
.m-id-j0 .jusp .mem{text-align:left;margin-left:160px;}
.m-id-j0 .jusp img{height:80px;width:80px;margin:0 14px;}
.m-id-j0 .rall{padding:30px;}
/* detail */
.m-id-j0 .sco{margin:25px;height:62px;text-align:right;}
.m-id-j0 .sco .str{height:62px;width:65px;background-position:0 -14570px;margin-right:10px;float:left;}
.m-id-j0 .sco .strs{background-position:0 -19636px;}
.m-id-j0 .sco .strx{background-position:0 -288px;}
.m-id-j0 .sco .num{height:62px;line-height:62px;}
.m-id-j0 .sco .tit{margin:28px;}
/* 地图弹出框 */
.w-map{position:relative;width:100%;height:640px;position:absolute;top:260px;left:0;background:#eee;border:1px solid #ddd;}
.w-map .close{text-align:right;padding:10px 30px;border-bottom:2px solid #ddd;}
#container{height:100%}

/* m-id-j1 */
.m-id-j1 .sco{margin:100px 55px 50px;height:86px;}
.m-id-j1 .sco .str{height:86px;width:16%;background-position:0 -14784px;margin:0 10px;float:left;}
.m-id-j1 .sco .str-x{background-position:0 -15006px;}
.m-id-j1 .eva{padding-bottom:65px;border-style:solid;border-width:0 0 1px 0;}
.m-id-j1 .blk{margin:25px;}
.m-id-j1 .blk .txt{margin:30px 0;width:100%;padding:25px;height:170px;border-style:solid;border-width:1px;}







