.t-mdl-m3 .tpx{margin:35px 30px;text-align:left;}
.t-mdl-m3 .js-inf{padding:5px 10px;border-style:solid;border-width:1px 1px;margin-left:-5px;text-decoration:none;}
.t-mdl-m3 .w-lfac,.t-mdl-m1 .w-lfac{padding-left:20px;}
.t-mdl-m3 .btn{margin-left:10px;}
/* 列表模块 */
.w-mlst .w-message{margin:50px 0;}
/* 系统消息项 */
.w-sit{line-height:20px;padding:15px;margin:15px 0;border-width:0 0 1px;border-style:dashed;}
.w-sit .wel{text-indent:25px;}
/* css3 */
.t-mdl-m3 .js-inform{
	background:-webkit-linear-gradient(top,#fff,#e6e6e6);
    background:   -moz-linear-gradient(top,#fff,#e6e6e6);
    background:    -ms-linear-gradient(top,#fff,#e6e6e6);
    background:     -o-linear-gradient(top,#fff,#e6e6e6); 
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#fff,endColorstr=#e6e6e6,grandientType=0);
}