/* 70-79 */
.m-id-70 .g-body{margin-top:20px;}
.m-id-70 .b1k{line-height:48px;margin:0 60px 35px 60px;text-align:left;}
.m-id-70 .lbox{margin:25px 19px;}
.m-id-70 .nmsg{background-position:0 -13464px;height:150px;width:150px;margin:130px auto 30px;}
