/* x0-x9 */
/* m-id-x0 */
.m-id-x0 .nbox{margin:30px;}
.m-id-x0 .fail{width:150px;height:150px;margin:100px auto 50px;background-position:0 -14093px;}

/* m-id-x1 */
.m-id-x1 .g-body{margin:20px 60px;text-align:left;}
.m-id-x1 .x0{line-height:62px;font-size:42px;}
.m-id-x1 .x1{margin-top:10px;}
.m-id-x1 .x2{font-size:28px;line-height:48px;margin-top:20px;}
.m-id-x1 .x2 img{width:100%;}
.m-id-x1 .author{margin-right:15px;}



