/* u0-u9 */
.m-id-u0 .g-body .fail{background-position:0 -13769px;width:150px;height:150px;margin:100px auto 50px;}
/* m-id-u1 */
.m-id-u1 .blk{text-align:left;padding:25px;border-style:solid;border-width:0 0 1px 0;}
.m-id-u1 .blk .ln1{line-height:50px;}
.m-id-u1 .blk .ln2{margin-top:5px;line-height:40px;}
.m-id-u1 .blk .grop{-webkit-appearance:none;width:50px;height:50px;margin-right:10px;background-position:4px -12768px;vertical-align:middle;}
.m-id-u1 .blk .grop:checked{background-position:4px -12943px;}
/* vote.show */
.m-id-u1 .cer{text-align:center;margin-top:25px;}
.m-id-u1 .blk .ln3{line-height:48px;margin:20px 0;}
.m-id-u1 .blk .ln4{height:50px;}
.m-id-u1 .blk .xbg{height:50px;width:85%;border-style:solid;border-width:1px;}
.m-id-u1 .blk .chek{background-position:2px -13105px;padding-left:65px;-webkit-appearance:none;width:50px;height:50px;vertical-align:middle;}
.m-id-u1 .blk .chek:checked{background-position:2px -13278px;}
.m-id-u1 .blk .pos{position:relative;text-align:center;margin:30px 0;height:84px;}
.m-id-u1 .blk .lft{border-style:solid;border-width:1px;width:20%;height:90px;line-height:90px;position:absolute;top:0;left:0;border-radius:8px 0 0 8px;}
.m-id-u1 .blk .mid{border-style:solid;border-width:1px;width:60%;height:90px;line-height:90px;position:absolute;top:0;left:20%;}
.m-id-u1 .blk .rgh{border-style:solid;border-width:1px;width:20%;height:90px;line-height:90px;position:absolute;top:0;right:0;border-radius:0 8px 8px 0;}



