html,body {
    margin:0;padding:0;
    font-family:'Microsoft YaHei';
    width:100%;
    height:100%;
}
a{
color:#fff;
font-size:18px;
text-decoration:none;
}
ul{
    list-style:none;
}
.container{
    max-width:640px;
    position:fixed;
    width:100%;
    height:100%;
    background:#808080;
    left:50%;
    top:0;
    -webkit-transform:translate(-50%);
    
}

.slide-box{
    position:absolute;
    left:0;
    width:100%;
    height:100%;
    overflow:hidden;
    background-image:url(http://www.hijufou.com/res/mobile/pic/card/bg.jpg);
    background-size:cover;
    background-repeat:repeat-y;
}

.slide-box .arrow-down,
.arrow-down-first{
    position:absolute;
    width:100%;
    left:0;
    bottom:15px;
    text-align:center;
    color:rgba(255,255,255,0.4);
    font-size:12px;
    font-weight:normal;
    line-height:1.8em;
    z-index:101;
}
.slide-box .arrow-down-first::before{
    content:'';
    display:block;
    width:100%;
    height:25px;
    background:url(http://www.hijufou.com/res/mobile/pic/card/ico_top.png) center center no-repeat;
    background-size:35px 25px;  
    
}
.slide-box .arrow-down-first{
    display: block;
    -webkit-animation:arrow 0.7s;
    -webkit-animation-iteration-count:infinite;
}
.slide-box .arrow-down::before{
    content:'';
    display:block;
    width:100%;
    height:25px;
    background:url(http://www.hijufou.com/res/mobile/pic/card/ico_up.png) center center no-repeat;
    background-size:35px 25px;  
}
.slide-box .arrow-up{
    position:absolute;
    left:50%;
    top:10px;
    z-index:101;
    height:25px;
    background:url(http://www.hijufou.com/res/mobile/pic/card/ico_up.png) center center no-repeat;
    background-size:35px 25px;
    width:50px;
    -webkit-transform:rotateZ(180deg) translate(50%);
}

.slideboxs{
    position:absolute;
    left:0;
    width:100%;
    height:100%;
    overflow:hidden;
    background-image:url(http://www.hijufou.com/res/mobile/pic/card/lcbg.jpg);
    background-size:cover;
    background-repeat:repeat-y;
}

.slideboxs2{
    position:absolute;
    left:0;
    width:100%;
    height:100%;
    overflow:hidden;
    background-image:url(http://www.hijufou.com/res/mobile/pic/card/lcbg2.jpg);
    background-size:cover;
    background-repeat:repeat-y;
}

.btn_weixin{
    max-width:540px;
 	position:absolute;
	left:15%;
	bottom:-270px;
    width:70%;
    overflow:hidden;
}


.slide-box2 .arrow-down,
.arrow-down-first{
    position:absolute;
    width:100%;
    left:0;
    bottom:15px;
    text-align:center;
    color:rgba(255,255,255,0.4);
    font-size:12px;
    font-weight:normal;
    line-height:1.8em;
    z-index:101;
}
.slide-box2 .arrow-down-first::before{
    content:'';
    display:block;
    width:100%;
    height:25px;
    background:url(http://www.hijufou.com/res/mobile/pic/card/ico_top.png) center center no-repeat;
    background-size:35px 25px;  
    
}
.slide-box2 .arrow-down-first{
    display: block;
    -webkit-animation:arrow 0.7s;
    -webkit-animation-iteration-count:infinite;
}
.slide-box2 .arrow-down::before{
    content:'';
    display:block;
    width:100%;
    height:25px;
    background:url(http://www.hijufou.com/res/mobile/pic/card/ico_up.png) center center no-repeat;
    background-size:35px 25px;  
}
.slide-box2 .arrow-up{
    position:absolute;
    left:50%;
    top:10px;
    z-index:101;
    height:25px;
    background:url(http://www.hijufou.com/res/mobile/pic/card/ico_up.png) center center no-repeat;
    background-size:35px 25px;
    width:50px;
    -webkit-transform:rotateZ(180deg) translate(50%);
}


ul.arrow-down2 {
    display: block;
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%);
    list-style: none;
    bottom: 15px;
    padding: 0;
    margin: 0;
}
ul.arrow-down2 li {
    width: 50px;
    height: 12px;
    background: url(http://www.hijufou.com/res/mobile/pic/card/arrow-up.png);
    background-size: 50px 18px;
    background-position: 0 -3px;
    display: block;
    -webkit-animation:arrow 0.7s;
    -webkit-animation-iteration-count:infinite;

}
ul.arrow-down2 li:nth-child(3n+1) {
    -webkit-animation-delay:0.2s;
}
ul.arrow-down2 li:nth-child(3n+2) {
    -webkit-animation-delay:0.1s;
    margin-top:-5px;
}

ul.arrow-down2 li:nth-child(3n+3) {
    -webkit-animation-delay:0s; 
    margin-top:-5px;

}
    
@-webkit-keyframes arrow{
    0%{
        opacity:0.3;
        /*-webkit-transform: translate(0,0%);*/
    }
    100%{
        opacity:1;
        /*-webkit-transform: translate(0,-30%);*/
    }
}
@-webkit-keyframes arrow-up{
    0%{
        opacity:0.3;
        -webkit-transform: translate(0,0%);
    }
    100%{
        opacity:1;
        -webkit-transform: translate(0,-30%);
    }
}


    
    /*颜色*/

  /*浮动层*/
  .float{
      position:absolute;
      left:50%;
      top:50%;
      -webkit-transform:translate(-50%,-50%);
      background-color:#fff;
      border-radius:0 0 20px 20px;
      padding:8px;
      width:80%;
      box-sizing:border-box;
      padding-bottom:20px;  
      z-index:199;
  }
  .enroll-form{
     z-index:199;
  }
  .cancel{
      width:100px;
      height:100px;
      background:url(http://www.hijufou.com/res/mobile/pic/card/cancel.png) no-repeat;
      background-size:25px 25px;
      background-position:38px 38px;
      position:absolute;
      top:-50px;
      left:-50px;
      /*background-color:#000;*/
  }

  #float{
      display:none
  }



  /*块动画*/

@-webkit-keyframes box-up {
    0% {
    }

    100% {
        -webkit-transform:translate(0,-100%);
    }
}
@-webkit-keyframes box-down {
    0% {
        -webkit-transform:translate(0,-100%);
    }

    100% {
        -webkit-transform:translate(0,0);
    }
}
.box-active{
    -webkit-transform:translate(0,-100%);
}
.box-up{
    -webkit-animation:box-up 0.4s ease-in;
   
}
.box-down{
    -webkit-animation:box-down 0.4s ease-in;
}
.box-out{
    -webkit-transform:translate(0,-100%);
}
.ul-list{
}
.float-mask{
    position:fixed;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.6);
    z-index:188;
}
#float img{
    width:100%;
}