.g-license .t-mdl-h1{padding-bottom:50px;}
.g-license .wrp{padding-top:8px;}
.g-license p{padding-top:10px;font-size:13px;text-align:justify;}
.g-license .wrd{color:#444;font-size:18px;border-bottom:1px solid #ededed;line-height:40px;padding-top:12px;}
.g-license ul{line-height:2;padding-left:50px;font-size:13px;}
.g-license li{text-align:justify;list-style:disc;}
