/* 90-99 */
.m-id-90 .g-body{text-align:left;}
.m-id-90 .btl{padding:40px 40px 30px;font-size:30px;}
.m-id-90 .bct{padding:0 40px;font-size:24px;line-height:40px;color:#999;}
.m-id-90 .bct p{margin-bottom:26px;}
