#www-jufou-com .g-competence{padding-top:80px;text-align:center;}
.g-competence p{line-height:50px;}
.g-competence .wrd1{font-size:32px;}
.g-competence .wrd2{font-size:20px;}
.g-competence .wrd3{font-size:28px;margin-top:20px;}
.g-competence .wrd4{font-size:20px;}
.g-competence .wrd5{font-size:28px;}
.g-competence .t-btn{width:500px;height:50px;margin-top:30px;}
