/* step tab */
.w-stp{margin:20px 0 0;text-align:center;}
.w-stp .itm{width:157px;height:41px;line-height:34px;color:#666;font-size:18px;font-weight:bold;}
.w-stp .itm.js-selected{background-position:10px -709px;color:#fff;}

.g-gnw .inrx{margin-left:26px;margin-top:38px;}
.g-gnw .inrx1{margin-left:23px;margin-top:23px;}
.g-gnw .inrx1 .xmr{29px 0 0 5px;}
.g-gnw .w-tbar{margin-bottom:20px;}
.g-gnw .yls{float:left;width:470px;}
.g-gnw .yrs{float:left;margin-top:50px;}



