
.t-mdl-s0{margin-left:4px;padding-right:21px;padding-bottom:25px;}
.t-mdl-s0 .ln0{font-size:26px;font-weight:bold;margin-top:9px;}
.t-mdl-s0 .ln1{font-size:16px;font-weight:bold;margin:7px 0 18px 6px;}
.t-mdl-s0 .pbox{padding:10px 0;}
.t-mdl-s0  img{width:40px;height:40px;}
.t-mdl-s0 .mun{margin:8px 10px;}

.w-atb{width:100%;table-layout:fixed;border-collapse:collapse;}
.w-atb .c{padding:10px;border-width:1px;border-style:solid;text-align:center;}
.w-atb th.c{font-size:14px;}
.w-atb .c0,.w-atb .c2{width:80px;height:19px;}
.w-atb .c3{width:123px;}
.w-atb td.c1{text-align:left;line-height:18px;}