/* 成员模块 */
.t-mdl-60{margin-left:4px;}
.t-mdl-60 .w-wtb{margin:25px 0;}
.t-mdl-60 .w-wtb .abox{border-width:0;}
.t-mdl-60 .xact{margin:20px 0;}
.t-mdl-60 .xact .xi{margin-right:10px;padding:15px 0 10px 55px;font-size:13px;letter-spacing:-1px;}
.t-mdl-60 .xact .xi-01{background-position:17px -4118px;margin-left:-11px;}
.t-mdl-60 .xact .xi-02{background-position:14px -2527px;margin-left:5px;}
.t-mdl-60 .xact .xi-03{background-position:14px -2644px;}
.t-mdl-60 .sbox {margin:22px 0 -2px;font-size:14px;padding:10px 20px;}
.t-mdl-60 .sbox label{font-weight:bold;}
.t-mdl-60 .sbox select{width:110px;}
.t-mdl-60 .lbox{padding:20px 0;}
.t-mdl-60 .js-role-1{padding:1px 0 1px 20px;background-position:0px -2007px;}
.t-mdl-60 .js-role-2,.t-mdl-60 .js-role-3{padding:1px 0 1px 20px;background-position:0px -2099px;}
#www-jufou-com .t-mdl-60 .mtx{font-size:26px;padding-left:7px;}
.t-mdl-60 .tbox{margin-left:3px;}
.t-mdl-60 .sort{font-size:16px;margin-left:4px;margin-right:10px;}
.t-mdl-60 .txt2{width:140px;padding-left:10px;}
.t-mdl-60 .tip{margin:2px 20px;}
.t-mdl-60 .ln0{}

/* 成员项 */
.w-mitx{padding:10px 0;margin-bottom:-1px;border-width:1px 0;border-style:dashed;}
.w-mitx .img{margin-left:18px;text-align:center;width:60px;height:60px;overflow:hidden;}
.w-mitx .img img{display:block;max-height:100%;max-width:100%;}
.w-mitx .act{width:300px;margin:25px 0;}
.w-mitx .act .t-btn{margin:0 12px;}
.w-mitx .act .ln{line-height:20px;margin-left:187px;}
.w-mitx .dtl{margin:0 290px 0 85px;line-height:24px;}
.w-mitx .dtl .ln{margin-left:5px;}       
.w-mitx .dtl .ln3{line-height:18px;max-height:36px;overflow:hidden;letter-spacing:1px;}
.w-mitx .dtl .wrd{font-size:16px;font-weight:bold;}
