#www-jufou-com .t-mdl-x2 .mtx{font-size:26px;}
.t-mdl-x2 .t-ttl{height:auto;white-space:normal;}
.t-mdl-x2 .t-ttl a{margin-right:10px;}
.t-mdl-x2 .time{font-size:16px;}
.t-mdl-x2 .time .author{margin-left:30px;}
.t-mdl-x2 .t-cnt{margin-top:20px;margin-bottom:30px;}
.t-mdl-x2 .itl{font-size:16px;line-height:28px;}





