/* 相片详情 */
.t-mdl-40{margin-left:4px;}
.t-mdl-40 .t-cnt{margin-top:-10px;}
.t-mdl-40 .xtp{border-width:0 0 1px;border-style:solid;}
.t-mdl-40 .xtp .xtl{line-height:40px;font-size:24px;font-weight:bold;}
.t-mdl-40 .xtp .xab{padding:10px 0 19px;}
.t-mdl-40 .xtp .xab .xi{margin-right:10px;padding:3px 0 3px 30px;background-position:8px -1747px;}
.t-mdl-40 .xtp .xab .xi-01{background-position:8px -1662px;}
.t-mdl-40 .xtp .xab .xi-02{background-position:4px -1584px;}
.t-mdl-40 .xmn{font-size:13px;margin:4px 6px;}
.t-mdl-40 .xmn .xab{padding:15px 0;}
.t-mdl-40 .xmn .xab .sp{margin:0 2px;}
.t-mdl-40 .xmn .xhw .rhw{width:96px;margin-left:-100px;}
.t-mdl-40 .xmn .xhw .lhw{margin-right:115px;text-align:center;overflow:hidden;}
.t-mdl-40 .xmn .xhw .lhw img{display:block;max-width:100%;margin:0 auto;}
.t-mdl-40 .xcm{margin:30px 114px 0 0;}
.t-mdl-40 .xcm textarea{width:490px;}
.t-mdl-40 .xcm .tpx,.t-mdl-40 .xcm .rpx{border-width:1px;}
.t-mdl-40 .xcm .lbx{padding:5px 0;margin:-6px 18px;}
.t-mdl-40 .rhw .xbx .xit{display:block;width:40px;height:30px;margin:2px;text-align:center;cursor:pointer;}
.t-mdl-40 .rhw .xbx .xit img{display:block;margin:0 auto;width:40px;height:30px;}
.t-mdl-40 .rhw .xpg{padding:10px 0;}
#www-jufou-com .t-mdl-40 .mtx{font-size:21px;color:#999;}
.t-mdl-40 .w-cmx .t-btn{margin:-2px -9px 0 0;}
.t-mdl-40 .w-cmx .axt{margin-right:7px;}


