/* 标签设置模块 */
.t-mdl-c0{padding-bottom:94px;}
.t-mdl-c0 .tbx{width:420px;}
.t-mdl-c0 .xln{margin:15px 3px;}
.t-mdl-c0 .xmr{margin:29px 4px;}
.t-mdl-c0 .yls{margin:18px 3px;}
.t-mdl-c0 .yls .tip{margin-left:3px;}
.t-mdl-c0 .yln{margin:24px 0 10px 4px;font-weight:bold;}
.t-mdl-c0 .tip{margin-left:6px;}
.t-mdl-c0 .yln2{margin:29px 0 10px 4px;font-weight:bold;}
.t-mdl-c0 .xtl{font-size:14px;font-weight:bold;}
.t-mdl-c0 .ytg{margin:5px 10px 5px 0;padding:4px 8px 4px 30px;border-width:1px;border-style:solid;cursor:pointer;white-space:nowrap;}
#www-jufou-com .t-mdl-c0 .mtx{font-size:26px;}

