.t-mdl-k0{padding-bottom:16px;}
.t-mdl-k0 .cbx{margin-right:15px;}
.t-mdl-k0 .t-cnt{margin:23px 36px;background:#eeeeee;}
#www-jufou-com .t-mdl-k0 .mtx{font-size:26px;padding-left:7px;}
#www-jufou-com .t-mdl-k0 .xxl{font-size:15px;margin:23px 21px;}
#www-jufou-com .t-mdl-k0 .ln{margin:-2px 33px;}
#www-jufou-com .t-mdl-k0 .ln-x{margin-top:-4px;}
#www-jufou-com .t-mdl-k0 .ln-y{margin-top:23px;}


