/* 档案设置模块 */
.t-mdl-d0{padding-bottom:75px;}
.t-mdl-d0 .blk{margin:30px 0;}
.t-mdl-d0 .xblk{width:420px;margin:19px 6px;}
.t-mdl-d0 .xblk .txt{width:385px;}
.t.mdl-d0 .xblk .tip{line-height:18px;}
.t-mdl-d0 .xblk .w-txg .wnm{width:350px;overflow:hidden;margin-top:4px;font-size:12px;}
.t-mdl-d0 .blk .xtl{margin:12px 0;font-size:14px;font-weight:bold;}
.t-mdl-d0 .blk .tip{line-height:18px;}
.t-mdl-d0 .blk .xln{margin:17px 7px;}
.t-mdl-d0 .blk .cbx{margin-right:10px;}
.t-mdl-d0 .blk textarea{width:600px;height:150px;margin-top:10px;vertical-align:text-top;}
.t-mdl-d0 .blk .nok .js-pass{visibility:hidden;}
.t-mdl-d0 .w-txg{margin-top:27px;}
.t-mdl-d0 .blk-x{margin-top:76px;}
#www-jufou-com .t-mdl-d0 .mtx{font-size:26px;}
