/* 隐私设置模块 */
#www-jufou-com .t-mdl-b0 .mtx{font-size:26px;letter-spacing:-3px;}
.t-mdl-b0{padding-bottom:300px;}
.t-mdl-b0 .cbx{margin:18px 18px 22px 10px;}
.t-mdl-b0 .ln0{margin:19px 0 0 6px;font-size:14px;font-weight:bold;}
.t-mdl-b0 .tip{margin:-8px 0 50px 40px;line-height:20px;}
.t-mdl-b0 .itm{margin:1px 0 0 -4px;}
