#www-jufou-com .t-mdl-w2 .mtx{font-size:26px;}
.t-mdl-w2 .t-ttl{height:auto;white-space:normal;}
.t-mdl-w2 .t-ttl a{margin-right:10px;}
.t-mdl-w2 .time{font-size:16px;}
.t-mdl-w2 .t-cnt{margin:20px 0;}
.t-mdl-w2 .itl{font-size:16px;line-height:28px;margin-bottom:5px;}
.t-mdl-w2 .simg{max-width:100%;}

.t-mdl-w3{padding:0;}
.t-mdl-w3 .tax-s{width:644px;}

