.t-mdl-62{padding-bottom:40px;}
.t-mdl-62 .t-ttl{height:auto;white-space:normal;}
.t-mdl-62 .xtl{margin:20px 0;font-size:15px;padding-left:40px;}
.t-mdl-62 .itl{line-height:34px;padding:6px 0 15px 5px;font-size:14px;border-style:solid;border-width:0 0 1px 0;}
.t-mdl-62 .ick{padding:20px 0 20px 10px;border-style:solid;border-width:0 0 1px 0;}
.t-mdl-62 .ick .xlab{display:block;margin:0 0 4px 5px;}
.t-mdl-62 .ick .xset{width:60px;}
.t-mdl-62 .ick .cbx{margin-right:3px;vertical-align:middle;}
.t-mdl-62 .vote{text-align:center;font-size:13px;}
.t-mdl-62 .vot-btn{margin:50px auto 20px;}
.t-mdl-62 .res{margin:0 20px 20px;}
.t-mdl-62 .w-rat{border-style:solid;border-width:1px;}

.w-atb{width:100%;table-layout:fixed;border-collapse:collapse;margin-bottom:50px;}
.w-atb .c{padding:20px 10px;border-width:0 0 1px 0;border-style:solid;text-align:left;}
.w-atb th.c{font-size:14px;}
.w-atb .c0{width:240px;height:19px;}
.w-atb .c2{width:80px;height:19px;}
.w-atb .c3{width:123px;}









