.t-mdl-60{padding-bottom:25px;}
.t-mdl-60 .xtl{margin:20px 0;font-size:15px;padding-left:40px;}
.t-mdl-60 .abox{margin-top:20px;}


.w-atb{width:100%;table-layout:fixed;border-collapse:collapse;}
.w-atb .c{padding:10px;border-width:1px;border-style:solid;text-align:center;}
.w-atb th.c{font-size:14px;}
.w-atb .c0{width:240px;height:19px;}
.w-atb .c2{width:80px;height:19px;}
.w-atb .c3{width:123px;}
.w-atb .ept{padding:50px 0;text-align:center;}




