.t-mdl-61 .t-cnt{margin-top:20px;}
.t-mdl-61 .sti{padding-left:10px;}
.t-mdl-61 .sti .itl{margin:5px 0;font-size:14px;}
.t-mdl-61 .sti .ptl{margin:10px 0 15px;}
.t-mdl-61 .sti .itp{font-size:12px;}
.t-mdl-61 .sti .txt{margin:3px 8px 0 0;width:490px;}
.t-mdl-61 .sti .lnx{margin:12px 0;}
.t-mdl-61 .sti .abt{margin-left:5px;font-size:12px;}
.t-mdl-61 .sti .mtag{margin-left:13px;}
.t-mdl-61 .sti .wd1{width:130px;}
.t-mdl-61 .sti .wd2{width:490px;}
.t-mdl-61 .sti .ht0{height:100px;}
.t-mdl-61 .js-ndel .abt{display:none;}


