/* 最新动态 */
.t-mdl-5 .t-ttl{margin:-8px 0 0 -1px;padding:0;}
#www-jufou-com .t-mdl-5 .mtx{font-size:16px;letter-spacing:0;}
.t-mdl-5 .blk-1 .pht{margin:10px 0;}
.t-mdl-5 .blk-1 .pht img{width:100%;}
.t-mdl-5 .blk-2{margin-top:10px;}
.t-mdl-5 .blk-2-m{cursor:pointer;text-align:center;padding-top:10px;}
.t-mdl-5 .blk-3{margin-top:20px;}
.t-mdl-5 .bck{padding:0 2px 0 0;}
.t-mdl-5 .pad{padding:0 2px;}
.t-mdl-5 .w-evt .img{position:relative;}
.t-mdl-5 .w-evt .img img{width:35px;height:35px;}
.t-mdl-5 .tip{position:absolute;background-position:0 -3968px;width:25px;right:15px;bottom:0;}
/* 组织介绍 */
.t-mdl-6{margin-left:4px;margin-bottom:0;padding-bottom:30px;}
.t-mdl-6 .n{margin-bottom:10px;font-size:29px;font-weight:bold;margin-top:12px;}
.t-mdl-6 .d{min-height:70px;line-height:24px;margin:13px 0 0 10px;}
/* 加入组织 */
.t-mdl-7 .ln0{font-size:28px;}
.t-mdl-7 .ln1{padding:10px 0;}
/**/
.t-mdl-8{margin:15px 4px;}
/* 中间列结构 */
.group-home .more{padding:20px 0;font-size:14px;text-align:center;cursor:pointer;}
.group-home .epty .tip{padding:54px 0 2px 14px;font-size:30px;text-align:center;}
.group-home .epty .act{margin:30px 0;padding:0 0 300px 32px;}
.group-home .epty .tip-s{padding-bottom:300px;}
.group-home .epty .t-btn-1{margin:0 auto;}
/* 已经结束活动模块 */
.w-meeting{line-height:20px;padding:25px 0 25px 28px;border-width:0 0 1px;border-style:solid;text-align:left;}
.w-meeting .xmt{font-size:16px;font-weight:bold;margin-bottom:6px;width:450px;}
.w-meeting .smr{max-height:45px;line-height:24px;overflow:hidden;margin:-3px 70px 0 1px;}
.w-meeting .t{margin-left:15px;}
.w-meeting .t .x{color:#c33806;}
.w-meeting img{margin:8px 5px;width:35px;height:35px;}
/* 草稿箱列表项 */
.w-mdft{line-height:40px;border-bottom-width:1px;border-bottom-style:dashed;}
.w-mdft .act{margin-right:15px;}
.w-mdft .gtl{font-size:16px;font-weight:bold;margin:5px 30px;}
