#www-jufou-com .t-mdl-50{margin-left:4px; border-bottom:none;}
.t-mdl-50 .wd0{width:488px;}
.t-mdl-50 .wd1{width:693px;}
.t-mdl-50 .ht0{height:310px;}
.t-mdl-50 .yip{margin-left:10px;}
.t-mdl-50 .blk{margin:15px 0;}
.t-mdl-50 .blk .ybt{padding:13px 10px;font-size:14px;font-weight:bold;}
.t-mdl-50 .blk .tip{margin-top:-7px;}
.t-mdl-50 .axt{padding:10px 0 30px;}
.t-mdl-50 .axt .t-btn{margin-left:15px;}
.t-mdl-50 .xbm .js-error{position:static;left:0;padding-left:0;}
.t-mdl-50 .xbm .js-pass{visibility:hidden;}
#www-jufou-com .t-mdl-50 .mtx{font-size:26px;padding-left:7px;}
