.t-mdl-i0{margin-left:4px;}
.t-mdl-i0 .ybt{padding:9px 10px;font-size:14px;font-weight:bold;}
.t-mdl-i0 .yip{margin:3px 0 0 9px;}
.t-mdl-i0 .tvp{position:relative;margin:20px 0;padding-bottom:30px;border-width:0 0 1px 0;border-style:dashed;}
.t-mdl-i0 .w-ivt{position:relative;}
.t-mdl-i0 .w-ivt .tip{position:absolute;top:0;right:20px;}
.t-mdl-i0 .w-ivt .tip .r{font-size:26px;font-weight:bold;}
.t-mdl-i0 .tvp textarea{width:96%;height:76px;padding:10px;}
.t-mdl-i0 .xsh{margin-bottom:7px;padding:20px 0;}
.t-mdl-i0 .xsh .wd0{width:150px;}
.t-mdl-i0 .xxh{border-width:0 0 1px 0;border-style:solid;margin-bottom:15px;}
.t-mdl-i0 .xst{float:left;margin:15px 10px 15px 0;padding-left:15px;padding-right:80px;border-width:0 1px 0 0;border-style:dashed;}
.t-mdl-i0 .xst span{display:block;margin-bottom:5px;}
.t-mdl-i0 .xst .rad2{margin-left:15px;}
.t-mdl-i0 .w-wtb{margin-top:10px;}
.t-mdl-i0 .w-wtb .abox{border:0;padding:7px 0;}
.t-mdl-i0 .w-wtb .ssr{margin-left:10px;line-height:40px;}
.t-mdl-i0 .iva{text-align:right;}
#www-jufou-com .t-mdl-i0 .mtx{font-size:26px;padding-left:7px;}

.w-ivt .spl{width:500px;}
.w-ivt .spr{width:200px;}
.w-ivt .spr .txp{margin:80px 0 10px;overflow:hidden;}
.w-ivt .spr .txp .r{font-weight:bold;font-size:40px;padding:0 5px;}
.w-ivt .spr .txp .d{margin-right:18px;}

.w-ivl{border-width:1px;border-style:solid;}
.w-ivl .hed{font-size:14px;font-weight:bold;}
.w-ivl .itm{display:block;height:35px;line-height:40px;border-bottom-width:1px;border-bottom-style:solid;overflow:hidden;}
.w-ivl .itm span{padding-left:15px;}
.w-ivl .itm .c{overflow:hidden;text-align:center;}
.w-ivl .itm .d{font-size:12px;font-weight:normal;}
.w-ivl .itm .c0{width:170px;}
.w-ivl .itm .c1{width:156px;}
.w-ivl .itm .c00{width:115px;text-align:center;padding-left:28px;}
.w-ivl .itm .c03{text-align:right;}
.w-ivl .itm .bd00{border-right-width:1px;border-right-style:solid;}
.w-ivl .ivb{max-height:400px;overflow:auto;overflow-x:hidden;white-space:nowrap;}
.w-ivl .itm .cbx{margin-right:8px;}
.w-ivl .itm .rve{margin:-40px 10px 0 0;}




