/* 设置首页模块 */
#www-jufou-com .t-mdl-90 .mtx{font-size:26px;}
.t-mdl-90{margin-left:4px;}
.t-mdl-90 .xtb{width:90%;margin:13px auto;table-layout:fixed;}
.t-mdl-90 .xtb td{padding:20px 0 59px;vertical-align:top;}

/* 块结构 */
.w-ybk{line-height:24px;}
.w-ybk .ln0{padding-bottom:3px;font-size:14px;font-weight:bold;}
.w-ybk .lnx{margin-left:-3px;}
