/* 基本信息 */
.t-mdl-mygroup{margin-left:4px;}
.t-mdl-g0 .img img{display:block;width:160px;height:160px;margin:0 auto;}
.t-mdl-g0 .nmn{margin:11px 5px;}
.t-mdl-g0 .nmn a{font-size:14px;font-weight:bold;}
.t-mdl-g0 .ln{margin:10px 0;}
.t-mdl-g0 .bio{line-height:20px;padding:10px 0;margin-top:20px;border-width:1px 0 0;border-style:dashed;}
.t-mdl-g0 .edt{margin-top:8px;margin-left:4px;}
.t-mdl-g0 .ln{margin-top:2px;}
.t-mdl-g0 .adr{margin:14px 4px;}
.t-mdl-g0 .reg{margin:-4px 4px;}
/* 组织列表 */
.t-mdl-g1 .blk{margin-bottom:20px;}
.t-mdl-g1 .blk .xyt{margin:11px 16px;padding-bottom:14px;font-size:16px;font-weight:bold;border-width:0 0 2px;border-style:solid;}
.t-mdl-g1 .blk .lbx{padding:4px 22px;}
/* 组织项 */
.w-git{width:50%;border-width:0 0 1px;border-style:dashed;}
.w-git .w-lfac{margin:15px 10px 0;border:0;padding:0;height:90px;}
.w-git .w-lfac .img img{margin-top:4px;}
.w-git .w-lfac .nm{width:200px;font-size:14px;}
.w-git .w-lfac .gat{margin:-7px 0 0 20px;}
.w-git .w-lfac .ine{display:inline;}



